extends layout

block linkChange
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='https://d3js.org/d3-path.v1.min.js')
    script(src='https://d3js.org/d3-selection.v1.min.js')
    script(src='https://d3js.org/d3.v3.min.js')
    script(src='https://d3js.org/d3-shape.v1.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='http://code.jquery.com/jquery-1.10.2.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

block content 
    #toolbar
      #toolbarFirstRow
        button.mapBut.tooltip-top-right#_00(onclick="eventNewComesFromNode()", data-tooltip= "New \"Comes From\" Node")
        button.mapBut.tooltip-top#_01(onclick="eventToggleSubtree()", data-tooltip="Toggle Subtree View")
        button.mapBut.tooltip-top#_02(onclick="eventDelete()", data-tooltip="Delete Node")
        button.mapBut.tooltip-top#_03(onclick="eventNewCustomNode()", data-tooltip="New \"Custom\" Node")
      
      #toolbarSecondRow  
        button.mapBut.tooltip-bottom-right#_10(onclick="eventEditConnection()", data-tooltip="Edit Type of Connection")
        button.mapBut.tooltip-bottom#_11(onclick="eventModal()", data-tooltip="Edit Node")
        button.mapBut.tooltip-bottom#_12(onclick="eventSave()", data-tooltip="Save Map")
        button.mapBut.tooltip-bottom#_13(onclick="eventNewDefinitionNode()", data-tooltip= "New \"Definition\" Node")
        
    #tree-container
        div
        // Modal
        .modal-container
          #myModal.modal.fade(role='dialog')
            .modal-dialog
              // Modal content
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h3.modal-title Edit Node
                .modal-body
                  // FORM
                  .bootstrap-iso
                    .container-fluid
                      .row
                        .col-md-6.col-sm-6.col-xs-12
                          form#frm1.form
                            .form-group
                              label(for='title') Node Title
                              input#title.form-control(type='text', placeholder='Enter title', value='')
                            .form-group
                              label(for='comment') Comments
                              textarea#comment.form-control(rows='5')
                            .form-group
                              label(for='getLinkText') Get Link to This Node
                              p#getLinkText.form-control
                            .form-group
                              label(for='linkToText') Link to Another Node
                              input#linkToText.form-control(type='text', placeholder='Enter url of node to link to', value='')
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
                  
        div
            input#mapData(type="hidden", value=mapData)
            input#mapId(type="hidden", value=mapId)
            input#_csrf(type="hidden", value=_csrf)
            input#nodeId(type="hidden", value=nodeId)
            input#sandBox(type="hidden", value=sandbox)
            - console.log('MAP.PUG SANDBOX: ' + sandbox)
            script(src="/js/map.js")
